:root {
  color: white;
}

body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;
  max-width: 1440px;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 20px 0 0 0;
}

h2 {
  font-size: 35px;
  margin: 0;
}

h3 {
  font-size: 24px;
  color: #F9FAF8;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 7px;
  padding: 5px 25px;
  margin: 10px 0;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
}

.first-section {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 0 12vw;
  height: 60vh;
}

.first-section header {
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.hero-container {
  flex: 1 1 0px;
}

.image {
  height: 250px;
  background-color: grey;
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section {
  background-color: white;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  height: 40vh;
}

.wrapper {
  display: flex;
  margin: 40px auto;
  gap: 60px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
}

.flex-container div {
  border: 3px solid #3882F6;
  width: 100%;
  height: 150px;
  border-radius: 15px;
}

.third-section {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 40vh;
}

.quote-container {
  width: 50vw;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  margin: 0 0 0 25px;
}

.name {
  text-align: end;
  margin: 0 20px 0 0;
  font-weight: bold;
  font-size: 25px;
}

.fourth-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.action {
  background-color: #3882F6;
  width: 55%;
  height: 100px;
  border-radius: 7px;
  padding: 20px 110px;
  display: flex;
  align-items: center;
}

.action-container {
  flex: 1;
}

.action button {
  border: 1px solid white;
  padding: 7px 30px;
}

.action h4,
.action p {
  margin: 5px 0;
}

.action h4 {
  font-size: 20px;
}

.action p {
  color: #E5E7EB;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 20px 0;
}